[defaults]
roles_path = ansible/roles
collections_path = ansible/collections
host_key_checking = True
retry_files_enabled = False
interpreter_python = auto_silent

[ssh_connection]
pipelining = True
ssh_common_args = -o StrictHostKeyChecking=accept-new
