region              = "BHS5"
instance_name       = "loresuelvo-iac-test"
flavor_name         = "d2-4"
image_name          = "Ubuntu 24.04"
public_network_id   = "d7eaf2f8-d9d8-465b-9244-fd4736660570"
ssh_public_key_path = "/home/user/.ssh/loresuelvo_terraform.pub"
