[
  {
    "relation": [
      "delegate_permission/common.handle_all_urls"
    ],
    "target": {
      "namespace": "android_app",
      "package_name": "{{ android_app_link_package_name }}",
      "sha256_cert_fingerprints": [
        "{{ android_app_link_sha256_cert_fingerprint }}"
      ]
    }
  }
]
